.login-page {
  background-image: url("../../../image/Frame.svg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-color: #eff5ff;
  background-position: right;
  background-size: 50% 100%;
  @media (max-width: 380px) {
    background-image: url("../../../image/login-image-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-size: 375px 300px;
    background-position: top;
  }
}
.login-block {
  width: 50%;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  @media (max-width: 380px) {
    width: 0%;
  }
}
.login-block-content {
  position: absolute;
  top: 50%;

  margin-left: 121px;
  transform: translateY(-50%);
  @media (max-width: 380px) {
    margin-left: 0;
    padding: 0 13px 24px 13px;
    bottom: 0;
    top: auto;
    transform: none;
    h1 {
      font-family: Montserrat;
      font-size: 27px;
      font-style: normal;
      font-weight: 800;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: left;
    }
    h2 {
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 8px;
    }
  }
}
.logo {
  background-image: url("../../../image/logo.svg");
  width: 100px;
  background-size: 112px 43px;
}
.chatty {
  color: #5e94e8;
}
.excl-mark {
  color: #b4cef8;
}

h2 {
  margin-top: 24px;
}
