@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  outline: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 51px;
  letter-spacing: 0em;
  margin: 0;
  color: #333;
}
h2 {
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  margin: 0;
  color: #333;
}

.container {
  padding: 0 24px;
}
